<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] %msg - [%thread] %logger{36}%n</Pattern>
    </encoder>
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="org.littleshoot.proxy">
    <level value="ERROR" />
    <appender-ref ref="STDOUT" />
  </logger>
</configuration>
